body { 
    background-color:rgb(214, 213, 211);
    text-align: center;
}
.navigation {
    list-style-type: none;
}
.main-header {
    color: rgb(3, 103, 128);
}
.titles {
    color: rgb(2, 96, 119);
}
.dates, .author{
    color:rgb(1, 46, 58);
}
p {
    color:rgb(1, 46, 58);
}
.my-image {
    width: 200px; 
    border-radius:5px 0px 5px 0px;
    box-shadow: 8px 10px 5px rgb(61, 60, 59);
}
.footer {
    background-color: rgba(22, 98, 119, 0.219);
    background-size: 50px;

}
.table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
}
table, th, td {
    border: 1px solid black;
    margin-left:auto; 
    margin-right:auto;
    text-align: left;
    padding-right:10px;
    padding-left: 10px;
}