body { 
    background-color:rgb(214, 213, 211);
    text-align: center;
}
h1 {
    color: rgb(3, 103, 128);
}
h2, h3 {
    color: rgb(2, 96, 119);
}
h4{
    color:rgb(1, 46, 58);
}
p {
    color:rgb(1, 46, 58);
}
.my-image {
    width: 200px; 
}